.hp-homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hp-main-content {
  position: relative;
  flex: 1;
}

.leaflet-map {
  height: 100%;
  width: 100%;
}

.hp-establecimientos-tabla {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 37.5%;
  background: rgba(255, 255, 255, 0.664);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.hp-establecimientos-tabla.plegado {
  transform: translateX(-100%);
}

.hp-establecimientos-tabla.desplegado {
  transform: translateX(0);
}

.hp-tabla-contenido {
  padding: 10px;
}

.hp-plegar-boton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: -30px;
  background: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 50%; /* Asegura que el botón tenga una forma circular */
  padding: 12px; /* Se ajusta el padding para que el botón sea más compacto */
  cursor: pointer;
  font-size: 20px; /* Ajusta el tamaño del ícono y texto */
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 10; /* Asegura que el botón esté encima del contenido */
  transform: translateY(-50%);
}

.hp-plegar-boton:hover {
  background: #0056b3;
  border-color: #0056b3;
}

.hp-plegar-boton .boton-icono {
  font-size: 20px; /* Tamaño del ícono */
}

.hp-tabla-contenido {
  margin-left: 20px;
}

.hp-plegar-boton1 {
  position: absolute;
  top: -5%;
  left: 50%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
}

.hp-cerrar-boton1 {
  position: absolute;
  top: 20%;
  right: 1.5%;
  background: #ff6b6b; /* Color de fondo vibrante */
  border: none; /* Sin bordes */
  color: white; /* Texto blanco para contraste */
  font-weight: bold;
  font-size: 14px; /* Tamaño de fuente ajustado */
  padding: 8px 12px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  z-index: 9999
}
.hp-cerrar-boton1:hover {
  background: #ff4c4c; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}

.hp-cerrar-boton1:active {
  background: #e04343; /* Color más oscuro al hacer clic */
  transform: scale(0.95); /* Ligeramente más pequeño al hacer clic */
}

.hp-agente-virtual-boton {
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
}

.hp-agente-logo {
  position: relative;
  display: inline-block;
}

.hp-agente-logo img {
  width: 100px; /* Ajusta el ancho según necesites */
  height: auto;
  object-fit: contain;
}

.hp-agente-mensaje {
  position: absolute;
  top: 50%;
  right: 120%; /* Ubica el mensaje a la izquierda del logo */
  transform: translateY(-50%);
  background: #fff;
  color: #1e2020;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0; /* El mensaje siempre se muestra */
}

.hp-agente-logo:hover .hp-agente-mensaje {
  opacity: 1;
}

/* Flecha que apunta al logo */
.hp-agente-mensaje::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}


/* Mensaje debajo del logo que simula un botón */
.hp-agente-titulo {
  margin-top: 8px; /* Espacio entre el logo y el mensaje */
  font-size: 12px; /* Tamaño del texto */
  color: #ffffff;
  font-weight: bold;
  padding: 8px 20px; /* Agrega espacio alrededor del texto */
  border: 2px solid #1e2020; /* Bordes azules */
  border-radius: 25px; /* Bordes redondeados */
  background: #1e2020; /* Fondo transparente */
  cursor: pointer; /* Apunta como si fuera un botón */
  text-align: center; /* Centra el texto dentro del "botón" */
  position: relative;
  top: 110%;
}

.hp-agente-virtual {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 75%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.hp-agente-virtual.plegado {
  transform: scaleY(0.1) translateY(50%);
}

.hp-agente-virtual.desplegado {
  transform: scaleY(1) translateY(0);
  height: 65%;
  width: 30%;
  background: none;
  box-shadow: none;
  border: none;
  }
