/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
  }
  
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url('/public/img/fondoTest1.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: #333;
  }
  
  .intro-content {
    position: relative; /* Para que los elementos hijos se posicionen relativos a este contenedor */
    text-align: center;
    padding: 1%;
    width: 99%;
    height: 500px;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .intro-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .intro-description {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .intro-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .intro-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    opacity: 0.9;
  }
 /* Flecha indicadora */
 .arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }

  .arrow {
    width: 70px;  /* Ajusta el tamaño según necesites */
    height: auto;
    animation: bounce 1.5s infinite; /* Hace que la flecha rebote */
  }

  /* Animación de rebote */
  @keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
  }
  /* Título flotante */
  .floating-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin-bottom: 100px; /* Ajusta este valor para crear más espacio entre el título y la siguiente sección */
  }

  /* Efecto de aparición */
  .floating-title.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  /* Scroll Section */
  .info-scroll {
    width: 100%;
    padding: 50px 20px;
  }
  
  .info-section {
    margin-bottom: 50px;
    height: 500px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    background-color: #0000007e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .info-section h2 {
    font-size: 28px;
    color: #000000;
  }
  
  .info-section p {
    font-size: 18px;
    color: #3b4242;
    line-height: 1.6;
  }
  
  .info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
  }

    /* Estilo para el texto */
  .info-text {
    width: 50%;
    text-align: left;
    padding: 20px;
    color: white;
  }

  .info-text h2 {
    font-size: 28px;
    color: white;
  }

  .info-text p {
    font-size: 18px;
    color: #ddd;
    line-height: 1.6;
  }
  /* Estilo para la imagen */
  .info-image {
    width: 45%;
  }

  .info-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .info-image img:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }

  /* Image Gallery */
  .gallery-images {
    position: relative; /* Mantener el diseño relativo al contenedor padre */
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .intro-data {
    position: absolute; /* Hacer que este contenedor se superponga */
    top: 50%; /* Ajustar verticalmente para centrar */
    left: 50%; /* Ajustar horizontalmente para centrar */
    transform: translate(-50%, -50%); /* Centrar el contenido con respecto al contenedor */
    z-index: 2; /* Asegurar que esté sobre la galería */
    /*background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    background-color:  rgba(243, 243, 243, 0.726);
}

  .gallery-images img {
    position: relative; /* Mantener las imágenes dentro de su contenedor */
    z-index: 1; /* Las imágenes estarán detrás de intro-data */
    width: 90%; /* En lugar de un tamaño fijo */
    max-width: 400px; /* Limita el tamaño máximo */
    height: 480px; /* Mantiene la proporción */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .gallery-images img:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  /* Footer */
  .intro-footer {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px; /* Tamaño del contenedor */
    height: 60px; /* Mantener la proporción cuadrada */
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 9999; /* Por encima de todo */
    background-color: white; /* Sin fondo */
    border-radius: 50%; /* Contenedor redondeado */
    padding: 0; /* Eliminar padding */
    overflow: hidden; /* Ocultar cualquier parte que sobresalga */
    display: flex; /* Usar flexbox para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border-style: solid;
    border-color: #3b4242; 
  }

  .scroll-to-top-img {
      width: 85%; /* La imagen ocupa todo el contenedor */
      height: 85%; /* La imagen ocupa todo el contenedor */
      object-fit: cover; /* Asegura que la imagen no se distorsione */
  }
  
  .scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .scroll-to-top:hover {
    transform: scale(1.1);
  }