.filtro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 3.5%;
  right: 7%;
  z-index: 10000;
  max-width: 100%;
  width: 55%;
}

.filtro-container {
  display: flex;
  gap: 20px; /* Espacio entre los filtros */
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.filtro-tipos-wrapper, .filtro-valoraciones-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtro-container::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

.filtro-boton {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #ffffff;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  transition: background 0.3s ease;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  height: 35px;
  line-height: 35px;
}

.filtro-boton.activo {
  background: #007bff;
  color: white;
}

.filtro-boton:hover {
  background: #007bff;
  color: white;
}

.filtro-flecha {
  background: none;
  border-radius: 100%;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  padding: 5px;
  height: 35px;
  width: 35px
}

.filtro-flecha:hover {
  color: #e5e5e5;
}
