/* Contenedor principal */
/* Select para categorías */
.histograma-select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-bottom: 0px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.histograma-controls {
    display: flex;
    align-items: start; /* Alinea verticalmente al centro */
    flex-direction: column; /* Hace que los elementos se apilen verticalmente */
    gap: 10px; /* Espaciado entre el texto y el select */
  }
  
.histograma-titulo {
    margin: 1%; /* Elimina el margen por defecto del <p> */
    font-size: 32px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Color del texto */
    font-weight: bolder;
    align-self: center;
  }

  .histograma-chart-container {
    display: flex;
    align-items: center; /* Alinea los elementos en la parte superior */
    justify-content: space-around; /* Separa los elementos en los extremos */
    gap: 20px; /* Espacio entre el gráfico y los controles */
  }
  
  .histrograma-grafico {
    flex: 1; /* Ocupa todo el espacio disponible */
  }
  