/* src/components/css/Map.css */
.map-container {
  height: 100%; /* Ajusta la altura según tus necesidades */
  width: 100%;
}

.leaflet-map {
  height: 100%;
  width: 100%;
}

.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  position: relative;
  transform: rotate(100%)
}
.custom-icon svg{
  transform: rotate(-45deg); /* Esto debería rotar el cuadrado y hacerlo parecer un rombo */
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: red; /* Cambia esto al color que desees */
  border-radius: 10%; /* Asegura que no sea redondeado */
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: rotate(45deg); /* Esto debería rotar el cuadrado y hacerlo parecer un rombo */
}

.custom-icon::after {
  content: '';
  position: absolute;
  bottom: 0px; /* Ajusta la posición vertical de la punta */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid red; /* Mismo color que el fondo */
}

/* Estilos para los popups */
.mp-popup-content {
  padding: 0.5px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.mp-popup-section {
  display: flex;
  
  align-items: center;
  margin-bottom: 10px;
  padding: 3px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mp-popup-title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-right: 1px;
}

.mp-popup-text {
  font-size: 14px;
  color: #555555;
  flex-grow: 1;
  text-align: right;
}

/* Separador */
.mp-popup-divider {
  border-bottom: 0.5px solid #ddd;
  margin: 5px 0;
}
.custom-search-control {
  position: absolute !important;
  top: 10px;
  left: 500%;
  transform: translateX(-50%);
  z-index: 1000;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  align-items: center;
  width: 300px;
}

.custom-search-control input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

.custom-search-control button {
  background: #00ff95;
  color: white;
  border: none;
  padding: 8px 10px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-search-control button:hover {
  background: #0056b3;
}

/* Estilos para la lista de sugerencias */
.leaflet-control-search .search-tooltip {
  background: white !important;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.leaflet-control-search .search-tooltip li {
  padding: 6px 10px;
  cursor: pointer;
}

.leaflet-control-search .search-tooltip li:hover,
.leaflet-control-search .search-tooltip li.active {
  background: #007bff;
  color: white;
}

/* Permitir navegación con tab y enter */
.leaflet-control-search input:focus + .search-tooltip {
  display: block !important;
}
/* src/components/Map.css */
.custom-instructions {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;
}

.custom-instructions .leaflet-routing-container h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #0078A8;
}

.custom-instructions .leaflet-routing-alt {
  max-height: 200px;
  overflow-y: auto;
}

.custom-instructions .leaflet-routing-alt table {
  width: 100%;
  border-collapse: collapse;
}

.custom-instructions .leaflet-routing-alt table tr {
  border-bottom: 1px solid #e0e0e0;
}

.custom-instructions .leaflet-routing-alt table tr:last-child {
  border-bottom: none;
}

.custom-instructions .leaflet-routing-alt table td {
  padding: 8px;
  font-size: 14px;
}

.limpiar-ruta-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.limpiar-ruta-button:hover {
  background-color: #ff1a1a;
}
